<!doctype html>
<title>Переводчик онлайн</title>
<link rel=stylesheet type=text/css href="/static/style.css">
<div class=page>
  <h1>Переводчик онлайн</h1>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('translate') }}" method=post>
    <dl>
      <label>Английский язык</label>
      <dt><textarea name=translate placeholder="Введите текст для перевода"
        cols="68" rows="7"></textarea>
      </dt>

      <dt>Выберите целевой язык:
      <select name="language">
        {% for lang in langs %}
          <option>{{lang}}</option>
        {% endfor %}
      </select>

        <dt><input type="checkbox" id="okay" checked>
        <label for="okay">Выполнить проверку текста</label>
        <dt><input type=submit value=Перевести>
    </dl>
  </form>
  <div class="response">
    <label>Ответ</label>
    <dt>
      <textarea name="receive" cols="68" rows="7">{% if response %}{{response}}{% endif %}</textarea>
    </dt>
  </div>
</div>